In [9]:
from pyspark.sql.functions import *

# Create a DataFrame
data_df = spark.createDataFrame([("Brooke", "CSE", 20), ("Denny", "ECE", 31), ("Jules", "CSE", 30),
                                 ("Alice", "MATH", 35), ("Bob", "ECE", 25)], ["name", "dept", "age"])
# Group the same names together, aggregate their ages, and compute an average
avg_df = data_df.groupBy("dept").agg(avg("age"))
# Show the results of the final execution
avg_df.show()

+----+--------+
|dept|avg(age)|
+----+--------+
| CSE|    25.0|
| ECE|    28.0|
|MATH|    35.0|
+----+--------+

## Constructing a DataFrame

In [10]:
# Define schema for our data using DDL (Data Definition Language)

schema = "Id: STRING, First: STRING, Last: STRING, Url: STRING, Published: STRING, Hits: INT, Campaigns: ARRAY<STRING>"
# Create our static data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
        [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter","LinkedIn"]],
        [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web","twitter", "FB", "LinkedIn"]],
        [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568,["twitter", "FB"]],
        [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web","twitter", "FB", "LinkedIn"]],
        [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568,["twitter", "LinkedIn"]]
]
# Create a DataFrame using the schema defined above
blogs_df = spark.createDataFrame(data, schema)
# Show the DataFrame; it should reflect our table above
blogs_df.show()
# Print the schema used by Spark to process the DataFrame
print(blogs_df.schema)
blogs_df.printSchema()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

StructType([StructField('Id', StringType(), True), StructField('First', StringType(), True), StructField('Last', StringType(), True), StructField('Url', StringType(), True), StructField('Published', StringType(), True), StructField('Hits', IntegerType(), True), StructField('Campaigns', ArrayType(StringType(), True), True)])
root
 |-- Id: string (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [11]:
# Create the DataFrame without specifying schema: the schema will be inferred

blogs_df2 = spark.createDataFrame(data)
blogs_df2.show()
blogs_df2.printSchema()

+---+---------+-------+-----------------+---------+-----+--------------------+
| _1|       _2|     _3|               _4|       _5|   _6|                  _7|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)
 |-- _7: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [12]:
# Create the DataFrame from an RDD of tuples with column names, type is inferred
blogs_df2 = spark.createDataFrame(data, ['count', 'First', 'Last', 'Url', 'Published', 'Hits', 'Campaigns'])
blogs_df2.show()
blogs_df2.printSchema()

+-----+---------+-------+-----------------+---------+-----+--------------------+
|count|    First|   Last|              Url|Published| Hits|           Campaigns|
+-----+---------+-------+-----------------+---------+-----+--------------------+
|    1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|    2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|    3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|    4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|    5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|    6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+-----+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- count: long (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: long (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [13]:
# rdd returns the content as an RDD of Rows
blogs_df2.rdd.take(2)

[Row(count=1, First='Jules', Last='Damji', Url='https://tinyurl.1', Published='1/4/2016', Hits=4535, Campaigns=['twitter', 'LinkedIn']),
 Row(count=2, First='Brooke', Last='Wenig', Url='https://tinyurl.2', Published='5/5/2018', Hits=8908, Campaigns=['twitter', 'LinkedIn'])]

In [14]:
blogs_df2.rdd.take(2)[0]['First']

'Jules'

In [15]:
blogs_df2.rdd.take(1)[0].First

'Jules'

In [16]:
# Try changing the column name to 'count'.   Then this will not work due to naming conflict 
blogs_df2.rdd.take(1)[0].count

In [17]:
# Because count() is a function for class Row
blogs_df2.rdd.take(1)[0].count('Jules')

1

### Columns

In [18]:
blogs_df.columns

['Id', 'First', 'Last', 'Url', 'Published', 'Hits', 'Campaigns']

In [19]:
# Access a particular column with col and it returns a Column type
blogs_df['Id']

Column<'Id'>

In [20]:
# Another way to access a column - but be aware of naming conflicts
blogs_df.Id

Column<'Id'>

### Dataframe operations

In [21]:
# Projection: Retrieve specific columns from the dataframe
blogs_df.select(blogs_df['Id'], 'First').show()

+---+---------+
| Id|    First|
+---+---------+
|  1|    Jules|
|  2|   Brooke|
|  3|    Denny|
|  4|Tathagata|
|  5|    Matei|
|  6|  Reynold|
+---+---------+

In [22]:
#  Selection: Retrieve specific rows
blogs_df.filter(blogs_df.First=='Brooke').show()

+---+------+-----+-----------------+---------+----+-------------------+
| Id| First| Last|              Url|Published|Hits|          Campaigns|
+---+------+-----+-----------------+---------+----+-------------------+
|  2|Brooke|Wenig|https://tinyurl.2| 5/5/2018|8908|[twitter, LinkedIn]|
+---+------+-----+-----------------+---------+----+-------------------+

In [23]:
# Can also use SQL syntax in the selection condition

blogs_df.where("First='Brooke'").show()

+---+------+-----+-----------------+---------+----+-------------------+
| Id| First| Last|              Url|Published|Hits|          Campaigns|
+---+------+-----+-----------------+---------+----+-------------------+
|  2|Brooke|Wenig|https://tinyurl.2| 5/5/2018|8908|[twitter, LinkedIn]|
+---+------+-----+-----------------+---------+----+-------------------+

In [24]:
# Adding/changing columns (equivalent to map)

blogs_df.select('*', blogs_df['Hits'] + 1).show()

+---+---------+-------+-----------------+---------+-----+--------------------+----------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|(Hits + 1)|
+---+---------+-------+-----------------+---------+-----+--------------------+----------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|      4536|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|      8909|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|      7660|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|     10569|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|     40579|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|     25569|
+---+---------+-------+-----------------+---------+-----+--------------------+----------+

In [25]:
# Another way:

blogs_df.select('Id', col('Hits') + 1).show()

+---+----------+
| Id|(Hits + 1)|
+---+----------+
|  1|      4536|
|  2|      8909|
|  3|      7660|
|  4|     10569|
|  5|     40579|
|  6|     25569|
+---+----------+

In [26]:
# giving a name to the new column:

blogs_df.select('Id', blogs_df.Hits + 1).withColumnRenamed('(Hits + 1)', 'NewHits').show()

# Because DataFrame transformations are immutable, when we
# rename a column using withColumnRenamed() we get a new Data�𪀔n# Frame while retaining the original with the old column name.

+---+-------+
| Id|NewHits|
+---+-------+
|  1|   4536|
|  2|   8909|
|  3|   7660|
|  4|  10569|
|  5|  40579|
|  6|  25569|
+---+-------+

In [27]:
# Another way: similar AS 

blogs_df.select('Id', (blogs_df.Hits + 1).alias('NewHits')).show()

+---+-------+
| Id|NewHits|
+---+-------+
|  1|   4536|
|  2|   8909|
|  3|   7660|
|  4|  10569|
|  5|  40579|
|  6|  25569|
+---+-------+

In [28]:
# Sort by a column

blogs_df.sort('Hits').show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [29]:
# Sort by a column in descending order

blogs_df.sort('Hits', ascending = False).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [30]:
# Sort by a column in descending order

blogs_df.sort(col('Hits').desc()).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [31]:
from pyspark.sql.types import *
# Load an external file as a DataFrame

# Programmatic way to define a schema
fire_schema = StructType([StructField('CallNumber', IntegerType(), True),
    StructField('UnitID', StringType(), True),
    StructField('IncidentNumber', IntegerType(), True),
    StructField('CallType', StringType(), True),
    StructField('CallDate', StringType(), True),
    StructField('WatchDate', StringType(), True),
    StructField('CallFinalDisposition', StringType(), True),
    StructField('AvailableDtTm', StringType(), True),
    StructField('Address', StringType(), True),
    StructField('City', StringType(), True),
    StructField('Zipcode', IntegerType(), True),
    StructField('Battalion', StringType(), True),
    StructField('StationArea', StringType(), True),
    StructField('Box', StringType(), True),
    StructField('OriginalPriority', StringType(), True),
    StructField('Priority', StringType(), True),
    StructField('FinalPriority', IntegerType(), True),
    StructField('ALSUnit', BooleanType(), True),
    StructField('CallTypeGroup', StringType(), True),
    StructField('NumAlarms', IntegerType(), True),
    StructField('UnitType', StringType(), True),
    StructField('UnitSequenceInCallDispatch', IntegerType(), True),
    StructField('FirePreventionDistrict', StringType(), True),
    StructField('SupervisorDistrict', StringType(), True),
    StructField('Neighborhood', StringType(), True),
    StructField('Location', StringType(), True),
    StructField('RowID', StringType(), True),
    StructField('Delay', FloatType(), True)])

# Use the DataFrameReader interface to read a CSV file
sf_fire_file = "data/sf-fire-calls.csv"
fire_df = spark.read.csv(sf_fire_file, header=True, schema=fire_schema)

fire_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- Delay: float (nullable = true)

In [32]:
# Projection & selection
few_fire_df = fire_df.select("IncidentNumber", "AvailableDtTm", "CallType") \
    .where(col("CallType") != "Medical Incident")
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [33]:
# Projection doesn't remove duplicates:

fire_df.select('CallType').show()

+----------------+
|        CallType|
+----------------+
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|    Vehicle Fire|
|          Alarms|
|  Structure Fire|
|          Alarms|
|          Alarms|
|Medical Incident|
|Medical Incident|
|Medical Incident|
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|  Structure Fire|
|  Structure Fire|
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|Medical Incident|
+----------------+
only showing top 20 rows

In [34]:
# Use distinct to remove duplicates:
fire_df.select('CallType').distinct().show()

+--------------------+
|            CallType|
+--------------------+
|Elevator / Escala...|
|         Marine Fire|
|  Aircraft Emergency|
|      Administrative|
|              Alarms|
|Odor (Strange / U...|
|Citizen Assist / ...|
|              HazMat|
|Watercraft in Dis...|
|           Explosion|
|           Oil Spill|
|        Vehicle Fire|
|  Suspicious Package|
|Extrication / Ent...|
|               Other|
|        Outside Fire|
|   Traffic Collision|
|       Assist Police|
|Gas Leak (Natural...|
|        Water Rescue|
+--------------------+
only showing top 20 rows

In [35]:
# Distinct count: COUNT(DISTINCT *)
fire_df.select('CallType').distinct().count()

30

In [36]:
# This is more efficient:
fire_df.select('CallType').agg(count_distinct('CallType').alias("DistinctCallTypes")).show()

+-----------------+
|DistinctCallTypes|
+-----------------+
|               30|
+-----------------+

In [37]:
# Like SQL, SparkSQL supports many type-specific operations

fire_ts_df = (fire_df
    .withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy"))
    .drop("CallDate")
    .withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
    .drop("WatchDate")
    .withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"),
    "MM/dd/yyyy hh:mm:ss a"))
    .drop("AvailableDtTm"))

# Select the converted columns
fire_ts_df.select("IncidentDate", "OnWatchDate", "AvailableDtTS").show(5, False)

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [38]:
(fire_ts_df
    .select(year('IncidentDate'))
    .distinct()
    .orderBy(year('IncidentDate'))
    .show())

+------------------+
|year(IncidentDate)|
+------------------+
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

In [39]:
# What were the most common types of fire calls?

(fire_ts_df
    .select("CallType")
    .groupBy("CallType")
    .count()
    .orderBy("count", ascending=False)
    .show(truncate=False))

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
|Odor (Strange / Unknown)       |490   |
|Electrical Hazard              |482   |
|Elevator / Escalator Rescue    |453   |
|Smoke Investigation (Outside)  |391   |
|Fuel Spill                     |193   |
|HazMat                         |124   |
|Industrial Accidents           |94    |
|Explosion                      |89    |
|Train / Rail Incident          |57    |
|Aircraft Emergency             |36    |
+-------------------------------+------+
only showing top 20 rows

In [40]:
# More aggregation functions

(fire_ts_df
    .select(sum("NumAlarms"), avg("Delay"),
    min("Delay"), max("Delay"))
.show())

+--------------+-----------------+-----------+----------+
|sum(NumAlarms)|       avg(Delay)| min(Delay)|max(Delay)|
+--------------+-----------------+-----------+----------+
|        176170|3.892364154521585|0.016666668|   1844.55|
+--------------+-----------------+-----------+----------+

In [41]:
(fire_ts_df
    .where(col("CallType").isNotNull())
    .groupBy("CallType")
    .avg("Delay")
    .show(n=10, truncate=False))

+-----------------------------+------------------+
|CallType                     |avg(Delay)        |
+-----------------------------+------------------+
|Elevator / Escalator Rescue  |4.337821918278603 |
|Marine Fire                  |6.928571377481733 |
|Aircraft Emergency           |3.773148145940569 |
|Administrative               |12.261111179987589|
|Alarms                       |3.5427290570836676|
|Odor (Strange / Unknown)     |4.9479591785645   |
|Citizen Assist / Service Call|5.47334257750617  |
|HazMat                       |7.527016133069992 |
|Watercraft in Distress       |6.886904835700989 |
|Explosion                    |4.110674162259262 |
+-----------------------------+------------------+
only showing top 10 rows

### Rewriting SQL with DataFrame API

In [42]:
# Load data from csv files

dfCustomer = spark.read.csv('data/Customer.csv', header=True, inferSchema=True)
dfProduct = spark.read.csv('data/Product.csv', header=True, inferSchema=True)
dfDetail = spark.read.csv('data/SalesOrderDetail.csv', header=True, inferSchema=True)
dfHeader = spark.read.csv('data/SalesOrderHeader.csv', header=True, inferSchema=True)

In [43]:
# Find all orders and details on black product,
# return the product SalesOrderID, SalesOrderDetailID, Name, UnitPrice, and OrderQty

# SELECT SalesOrderID, SalesOrderDetailID, Name, UnitPrice, OrderQty 
# FROM SalesLT.SalesOrderDetail, SalesLT.Product
# WHERE SalesOrderDetail.ProductID = Product.ProductID AND Color = 'Black'

# SELECT SalesOrderID, SalesOrderDetailID, Name, UnitPrice, OrderQty 
# FROM SalesLT.SalesOrderDetail
# JOIN SalesLT.Product ON SalesOrderDetail.ProductID = Product.ProductID
# WHERE Color = 'Black'

# Spark SQL supports natural joins

dfDetail.join(dfProduct, 'ProductID') \
        .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty') \
        .filter("Color='Black'") \
        .show()

# If we move the filter to after the projection, it still works.  Why?

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71797|            111045|LL Road Frame - B...|  202.332|       3|
|       71783|            110730|LL Road Frame - B...|  202.332|       6|
|       71938|            113297|LL Road Frame - B...|  202.332|       3|
|       71915|            113090|LL Road Frame - B...|  202.332|       2|
|       71815|            111451|LL Road Frame - B...|  202.332|       1|
|       71797|            111044|LL Road Frame - B...|  202.332|       1|
|       71783|            110710|LL Road Frame - B...|  202.332|       4|
|       71936|            113260|HL Mountain Frame...|   809.76|       4|
|       71899|            112937|HL Mountain Frame...|   809.76|       1|
|       71845|            112137|HL Mountain Frame...|   809.76|       2|
|       71832|            111806|HL Mountain Frame...|   809.76|       4|
|       71780|            110622|HL Mountain Frame...|   809.76|       1|
|       71936|            113235|HL Mountain Frame...|   809.76|       4|
|       71845|            112134|HL Mountain Frame...|   809.76|       3|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

In [44]:
# This also works:

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d1.show()
d2 = d1.filter("Color = 'Black'")
d2.show()
d2.explain()

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113278|Sport-100 Helmet,...|   20.994|       3|
|       71936|            113228|Sport-100 Helmet,...|   20.994|       1|
|       71902|            112980|Sport-100 Helmet,...|   20.994|       2|
|       71797|            111075|Sport-100 Helmet,...|   20.994|       6|
|       71784|            110794|Sport-100 Helmet,...|   20.994|      10|
|       71783|            110751|Sport-100 Helmet,...|   20.994|      10|
|       71782|            110709|Sport-100 Helmet,...|   20.994|       3|
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71938|            113282|Sport-100 Helmet,...|   20.994|       3|
|       71902|            112995|Sport-100 Helmet,...|   20.994|       7|
|       71863|            112395|Sport-100 Helmet,...|   20.994|       1|
|       71797|            111038|Sport-100 Helmet,...|   20.994|       4|
|       71784|            110753|Sport-100 Helmet,...|   20.994|       2|
|       71783|            110749|Sport-100 Helmet,...|  19.2445|      15|
|       71782|            110708|Sport-100 Helmet,...|   20.994|       6|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71797|            111045|LL Road Frame - B...|  202.332|       3|
|       71783|            110730|LL Road Frame - B...|  202.332|       6|
|       71938|            113297|LL Road Frame - B...|  202.332|       3|
|       71915|            113090|LL Road Frame - B...|  202.332|       2|
|       71815|            111451|LL Road Frame - B...|  202.332|       1|
|       71797|            111044|LL Road Frame - B...|  202.332|       1|
|       71783|            110710|LL Road Frame - B...|  202.332|       4|
|       71936|            113260|HL Mountain Frame...|   809.76|       4|
|       71899|            112937|HL Mountain Frame...|   809.76|       1|
|       71845|            112137|HL Mountain Frame...|   809.76|       2|
|       71832|            111806|HL Mountain Frame...|   809.76|       4|
|       71780|            110622|HL Mountain Frame...|   809.76|       1|
|       71936|            113235|HL Mountain Frame...|   809.76|       4|
|       71845|            112134|HL Mountain Frame...|   809.76|       3|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [SalesOrderID#1113, SalesOrderDetailID#1114, Name#1063, UnitPrice#1117, OrderQty#1115]
   +- BroadcastHashJoin [ProductID#1116], [ProductID#1062], Inner, BuildLeft, false
      :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[3, int, false] as bigint)),false), [plan_id=1038]
      :  +- Filter isnotnull(ProductID#1116)
      :     +- FileScan csv [SalesOrderID#1113,SalesOrderDetailID#1114,OrderQty#1115,ProductID#1116,UnitPrice#1117] Batched: false, DataFilters: [isnotnull(ProductID#1116)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/SalesOrderDetail.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<SalesOrderID:int,SalesOrderDetailID:int,OrderQty:int,ProductID:int,UnitPrice:double>
      +- Project [ProductID#1062, Name#1063]
         +- Filter ((isnotnull(Color#1065) AND (Color#1065 = Black)) AND isnotnull(ProductID#1062))
            +- FileScan csv [ProductID#1062,Name#1063,Color#1065] Batched: false, DataFilters: [isnotnull(Color#1065), (Color#1065 = Black), isnotnull(ProductID#1062)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/Product.csv], PartitionFilters: [], PushedFilters: [IsNotNull(Color), EqualTo(Color,Black), IsNotNull(ProductID)], ReadSchema: struct<ProductID:int,Name:string,Color:string>

In [45]:
# SparkSQL performs optimization depending on whether intermediate dataframe are cached or not:

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d1.unpersist()
d1.show()
d1.explain()

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113278|Sport-100 Helmet,...|   20.994|       3|
|       71936|            113228|Sport-100 Helmet,...|   20.994|       1|
|       71902|            112980|Sport-100 Helmet,...|   20.994|       2|
|       71797|            111075|Sport-100 Helmet,...|   20.994|       6|
|       71784|            110794|Sport-100 Helmet,...|   20.994|      10|
|       71783|            110751|Sport-100 Helmet,...|   20.994|      10|
|       71782|            110709|Sport-100 Helmet,...|   20.994|       3|
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71938|            113282|Sport-100 Helmet,...|   20.994|       3|
|       71902|            112995|Sport-100 Helmet,...|   20.994|       7|
|       71863|            112395|Sport-100 Helmet,...|   20.994|       1|
|       71797|            111038|Sport-100 Helmet,...|   20.994|       4|
|       71784|            110753|Sport-100 Helmet,...|   20.994|       2|
|       71783|            110749|Sport-100 Helmet,...|  19.2445|      15|
|       71782|            110708|Sport-100 Helmet,...|   20.994|       6|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [SalesOrderID#1113, SalesOrderDetailID#1114, Name#1063, UnitPrice#1117, OrderQty#1115]
   +- BroadcastHashJoin [ProductID#1116], [ProductID#1062], Inner, BuildLeft, false
      :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[3, int, false] as bigint)),false), [plan_id=1142]
      :  +- Filter isnotnull(ProductID#1116)
      :     +- FileScan csv [SalesOrderID#1113,SalesOrderDetailID#1114,OrderQty#1115,ProductID#1116,UnitPrice#1117] Batched: false, DataFilters: [isnotnull(ProductID#1116)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/SalesOrderDetail.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<SalesOrderID:int,SalesOrderDetailID:int,OrderQty:int,ProductID:int,UnitPrice:double>
      +- Filter isnotnull(ProductID#1062)
         +- FileScan csv [ProductID#1062,Name#1063] Batched: false, DataFilters: [isnotnull(ProductID#1062)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/Product.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<ProductID:int,Name:string>

In [46]:
#d2 = d1.where("Color = 'Black'")
d2 = d1.where("OrderQty >= 10")
d2.show()
d2.explain()

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71784|            110794|Sport-100 Helmet,...|   20.994|      10|
|       71783|            110751|Sport-100 Helmet,...|   20.994|      10|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71783|            110749|Sport-100 Helmet,...|  19.2445|      15|
|       71784|            110761|        AWC Logo Cap|    5.394|      10|
|       71783|            110748|        AWC Logo Cap|   5.2142|      11|
|       71782|            110670|        AWC Logo Cap|    5.394|      10|
|       71783|            110744|Long-Sleeve Logo ...|  27.4945|      17|
|       71936|            113240|Mountain-200 Blac...| 1376.994|      10|
|       71797|            111067|Road-550-W Yellow...|  672.294|      10|
|       71797|            111070|     Classic Vest, S|   34.925|      23|
|       71784|            110791|     Classic Vest, S|   34.925|      23|
|       71783|            110727|     Classic Vest, S|   34.925|      15|
|       71783|            110747|     Classic Vest, M|     38.1|      10|
|       71936|            113236|Women's Mountain ...|  40.5942|      14|
|       71832|            111802|Women's Mountain ...|  40.5942|      13|
|       71797|            111078|Water Bottle - 30...|   2.8942|      11|
|       71784|            110756|Water Bottle - 30...|   2.8942|      11|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [SalesOrderID#1113, SalesOrderDetailID#1114, Name#1063, UnitPrice#1117, OrderQty#1115]
   +- BroadcastHashJoin [ProductID#1116], [ProductID#1062], Inner, BuildLeft, false
      :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[3, int, false] as bigint)),false), [plan_id=1246]
      :  +- Filter ((isnotnull(OrderQty#1115) AND (OrderQty#1115 >= 10)) AND isnotnull(ProductID#1116))
      :     +- FileScan csv [SalesOrderID#1113,SalesOrderDetailID#1114,OrderQty#1115,ProductID#1116,UnitPrice#1117] Batched: false, DataFilters: [isnotnull(OrderQty#1115), (OrderQty#1115 >= 10), isnotnull(ProductID#1116)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/SalesOrderDetail.csv], PartitionFilters: [], PushedFilters: [IsNotNull(OrderQty), GreaterThanOrEqual(OrderQty,10), IsNotNull(ProductID)], ReadSchema: struct<SalesOrderID:int,SalesOrderDetailID:int,OrderQty:int,ProductID:int,UnitPrice:double>
      +- Filter isnotnull(ProductID#1062)
         +- FileScan csv [ProductID#1062,Name#1063] Batched: false, DataFilters: [isnotnull(ProductID#1062)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/Product.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<ProductID:int,Name:string>

In [47]:
# This will report an error:

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d1.write.csv('temp.csv', mode = 'overwrite', header = True)
d2 = spark.read.csv('temp.csv', header = True, inferSchema = True)
d2.filter("Color = 'Black'").show()

AnalysisException: Column 'Color' does not exist. Did you mean one of the following? [Name, OrderQty, UnitPrice, SalesOrderID, SalesOrderDetailID]; line 1 pos 0;
'Filter ('Color = Black)
+- Relation [SalesOrderID#1485,SalesOrderDetailID#1486,Name#1487,UnitPrice#1488,OrderQty#1489] csv

In [48]:
# This will report an error, too

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d2 = d1.filter(d1['Color'] == 'Black').show()

# Because the parser will try to find a column named 'Color' in d1, which doesn't exist

AnalysisException: Cannot resolve column name "Color" among (SalesOrderID, SalesOrderDetailID, Name, UnitPrice, OrderQty)

In [49]:
# Find all orders that include at least one black product, 
# return the product SalesOrderID, Name, UnitPrice, and OrderQty

# SELECT DISTINCT SalesOrderID
# FROM SalesLT.SalesOrderDetail
# JOIN SalesLT.Product ON SalesOrderDetail.ProductID = Product.ProductID
# WHERE Color = 'Black'

dfDetail.join(dfProduct.filter("Color='Black'"), 'ProductID') \
        .select('SalesOrderID') \
        .distinct() \
        .show()

+------------+
|SalesOrderID|
+------------+
|       71902|
|       71832|
|       71915|
|       71831|
|       71898|
|       71935|
|       71938|
|       71845|
|       71783|
|       71815|
|       71936|
|       71863|
|       71780|
|       71782|
|       71899|
|       71784|
|       71797|
+------------+

In [50]:
# How many colors in the products?

# SELECT COUNT(DISTINCT Color)
# FROM SalesLT.Product

dfProduct.select('Color').distinct().count()

# It's 1 more than standard SQL.  In standard SQL, COUNT() does not count NULLs.

10

In [51]:
# Find the total price of each order, 
# return SalesOrderID and total price (column name should be �勇otalprice��)

# SELECT SalesOrderID, SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) AS TotalPrice
# FROM SalesLT.SalesOrderDetail
# GROUP BY SalesOrderID

dfDetail.select('*', (dfDetail.UnitPrice * dfDetail.OrderQty
                      * (1 - dfDetail.UnitPriceDiscount)).alias('netprice'))\
        .groupBy('SalesOrderID').sum('netprice') \
        .withColumnRenamed('sum(netprice)', 'TotalPrice')\
        .show()

+------------+------------------+
|SalesOrderID|        TotalPrice|
+------------+------------------+
|       71867|             858.9|
|       71902|59894.209199999976|
|       71832|      28950.678108|
|       71915|1732.8899999999999|
|       71946|            31.584|
|       71895|221.25600000000003|
|       71816|2847.4079999999994|
|       71831|          1712.946|
|       71923|         96.108824|
|       71858|11528.844000000001|
|       71917|            37.758|
|       71897|          10585.05|
|       71885|           524.664|
|       71856|500.30400000000003|
|       71898| 53248.69200000002|
|       71774|           713.796|
|       71796| 47848.02600000001|
|       71935|5533.8689079999995|
|       71938|         74205.228|
|       71845|        34118.5356|
+------------+------------------+
only showing top 20 rows

In [52]:
# Find the total price of each order where the total price > 10000

# SELECT SalesOrderID, SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) AS TotalPrice
# FROM SalesLT.SalesOrderDetail
# GROUP BY SalesOrderID
# HAVING SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) > 10000

dfDetail.select('*', (dfDetail.UnitPrice * dfDetail. OrderQty
                      * (1 - dfDetail.UnitPriceDiscount)).alias('netprice'))\
        .groupBy('SalesOrderID').sum('netprice') \
        .withColumnRenamed('sum(netprice)', 'TotalPrice')\
        .where('TotalPrice > 10000')\
        .show()

+------------+------------------+
|SalesOrderID|        TotalPrice|
+------------+------------------+
|       71902|59894.209199999976|
|       71832|      28950.678108|
|       71858|11528.844000000001|
|       71897|          10585.05|
|       71898| 53248.69200000002|
|       71796| 47848.02600000001|
|       71938|         74205.228|
|       71845|        34118.5356|
|       71783|      65683.367986|
|       71936| 79589.61602399996|
|       71780|29923.007999999998|
|       71782| 33319.98600000001|
|       71784| 89869.27631400003|
|       71797| 65123.46341800001|
+------------+------------------+

In [53]:
# Find the total price on the black products of each order where the total price > 10000

# SELECT SalesOrderID, SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) AS TotalPrice
# FROM SalesLT.SalesOrderDetail, SalesLT.Product
# WHERE SalesLT.SalesOrderDetail.ProductID = SalesLT.Product.ProductID AND Color = 'Black'
# GROUP BY SalesOrderID
# HAVING SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) > 10000

res = dfDetail.select('*', (dfDetail.UnitPrice * dfDetail. OrderQty
                      * (1 - dfDetail.UnitPriceDiscount)).alias('netprice'))\
        .join(dfProduct, 'ProductID') \
        .where("Color = 'Black'")\
        .groupBy('SalesOrderID').sum('netprice') \
        .withColumnRenamed('sum(netprice)', 'TotalPrice')\
        .where('TotalPrice > 10000')

res.show()

res.explain()

+------------+------------------+
|SalesOrderID|        TotalPrice|
+------------+------------------+
|       71902|26677.883999999995|
|       71832|      16883.748108|
|       71938|         33824.448|
|       71845|         18109.836|
|       71783|15524.117476000003|
|       71936|      44490.290424|
|       71780|         16964.322|
|       71797|      27581.613792|
+------------+------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [SalesOrderID#1113, sum(netprice)#1723 AS TotalPrice#1726]
   +- Filter (isnotnull(sum(netprice)#1723) AND (sum(netprice)#1723 > 10000.0))
      +- HashAggregate(keys=[SalesOrderID#1113], functions=[sum(netprice#1659)])
         +- Exchange hashpartitioning(SalesOrderID#1113, 200), ENSURE_REQUIREMENTS, [plan_id=1911]
            +- HashAggregate(keys=[SalesOrderID#1113], functions=[partial_sum(netprice#1659)])
               +- Project [SalesOrderID#1113, netprice#1659]
                  +- BroadcastHashJoin [ProductID#1116], [ProductID#1062], Inner, BuildLeft, false
                     :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[1, int, true] as bigint)),false), [plan_id=1906]
                     :  +- Project [SalesOrderID#1113, ProductID#1116, ((UnitPrice#1117 * cast(OrderQty#1115 as double)) * (1.0 - UnitPriceDiscount#1118)) AS netprice#1659]
                     :     +- Filter isnotnull(ProductID#1116)
                     :        +- FileScan csv [SalesOrderID#1113,OrderQty#1115,ProductID#1116,UnitPrice#1117,UnitPriceDiscount#1118] Batched: false, DataFilters: [isnotnull(ProductID#1116)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/SalesOrderDetail.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<SalesOrderID:int,OrderQty:int,ProductID:int,UnitPrice:double,UnitPriceDiscount:double>
                     +- Project [ProductID#1062]
                        +- Filter ((isnotnull(Color#1065) AND (Color#1065 = Black)) AND isnotnull(ProductID#1062))
                           +- FileScan csv [ProductID#1062,Color#1065] Batched: false, DataFilters: [isnotnull(Color#1065), (Color#1065 = Black), isnotnull(ProductID#1062)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/Product.csv], PartitionFilters: [], PushedFilters: [IsNotNull(Color), EqualTo(Color,Black), IsNotNull(ProductID)], ReadSchema: struct<ProductID:int,Color:string>

In [54]:
# For each customer, find the total quantity of black products bought.
# Report CustomerID, FirstName, LastName, and total quantity

# select saleslt.customer.customerid, FirstName, LastName, sum(orderqty)
# from saleslt.customer
# left outer join 
# (
# saleslt.salesorderheader
# join saleslt.salesorderdetail
# on saleslt.salesorderdetail.salesorderid = saleslt.salesorderheader.salesorderid
# join saleslt.product
# on saleslt.product.productid = saleslt.salesorderdetail.productid and color = 'black'
# )
# on saleslt.customer.customerid = saleslt.salesorderheader.customerid
# group by saleslt.customer.customerid, FirstName, LastName
# order by sum(orderqty) desc

d1 = dfDetail.join(dfProduct, 'ProductID')\
             .where('Color = "Black"') \
             .join(dfHeader, 'SalesOrderID')\
             .groupBy('CustomerID').sum('OrderQty')
dfCustomer.join(d1, 'CustomerID', 'left_outer')\
          .select('CustomerID', 'FirstName', 'LastName', 'sum(OrderQty)')\
          .orderBy('sum(OrderQty)', ascending=False)\
          .show()

+----------+------------+------------+-------------+
|CustomerID|   FirstName|    LastName|sum(OrderQty)|
+----------+------------+------------+-------------+
|     30050|     Krishna|Sunkammurali|           89|
|     29796|         Jon|      Grande|           65|
|     29957|       Kevin|         Liu|           62|
|     29929|     Jeffrey|       Kurtz|           46|
|     29546| Christopher|        Beck|           45|
|     29922|      Pamala|        Kotc|           34|
|     30113|        Raja|   Venugopal|           34|
|     29938|       Frank|    Campbell|           29|
|     29736|       Terry|   Eminhizer|           23|
|     29485|   Catherine|        Abel|           10|
|     30019|     Matthew|      Miller|            9|
|     29932|     Rebecca|      Laszlo|            7|
|     29975|      Walter|        Mays|            5|
|     29638|    Rosmarie|     Carroll|            2|
|     29531|        Cory|       Booth|            1|
|     30089|Michael John|      Troyer|            1|
|     29568|      Donald|     Blanton|            1|
|       148|        Alan|      Brewer|         null|
|       471|        John|        Ford|         null|
|       496|      Marcia|      Sultan|         null|
+----------+------------+------------+-------------+
only showing top 20 rows

### Rewriting PMI example using DataFrame API

In [55]:
from pyspark.sql.functions import *

lines = spark.read.text('data/adj_noun_pairs.txt')
lines.show()

+--------------------+
|               value|
+--------------------+
|       early radical|
|   french revolution|
|      pejorative way|
|       violent means|
|      positive label|
|self-defined anar...|
|political philosophy|
|differ interpreta...|
|     relate movement|
|     social movement|
|authoritarian ins...|
|      most anarchist|
|  harmonious society|
|anti-authoritaria...|
|authoritarian str...|
| political structure|
|coercive institution|
|economic institution|
|     social relation|
|voluntary associa...|
+--------------------+
only showing top 20 rows

In [56]:
# Converting lines into word pairs. 
# Data is dirty: some lines have more than 2 words, so filter them out.
# pairs = lines.map(lambda l: tuple(l.split())).filter(lambda p: len(p)==2)
words = lines.select(split(lines[0],' ').alias('w')).filter(size('w')==2)  
words.show()
pairs = words.select(words['w'][0].alias('adj'), words['w'][1].alias('noun'))
pairs.cache()
pairs.show()

+--------------------+
|                   w|
+--------------------+
|    [early, radical]|
|[french, revolution]|
|   [pejorative, way]|
|    [violent, means]|
|   [positive, label]|
|[self-defined, an...|
|[political, philo...|
|[differ, interpre...|
|  [relate, movement]|
|  [social, movement]|
|[authoritarian, i...|
|   [most, anarchist]|
|[harmonious, soci...|
|[anti-authoritari...|
|[authoritarian, s...|
|[political, struc...|
|[coercive, instit...|
|[economic, instit...|
|  [social, relation]|
|[voluntary, assoc...|
+--------------------+
only showing top 20 rows

+------------------+--------------+
|               adj|          noun|
+------------------+--------------+
|             early|       radical|
|            french|    revolution|
|        pejorative|           way|
|           violent|         means|
|          positive|         label|
|      self-defined|     anarchist|
|         political|    philosophy|
|            differ|interpretation|
|            relate|      movement|
|            social|      movement|
|     authoritarian|   institution|
|              most|     anarchist|
|        harmonious|       society|
|anti-authoritarian|       society|
|     authoritarian|     structure|
|         political|     structure|
|          coercive|   institution|
|          economic|   institution|
|            social|      relation|
|         voluntary|   association|
+------------------+--------------+
only showing top 20 rows

In [57]:
N = pairs.count()
print(N)

3162692

In [58]:
# Compute the frequency of each pair.
# Ignore pairs that not frequent enough
# pair_freqs = pairs.map(lambda p: (p,1)).reduceByKey(lambda f1, f2: f1 + f2) \
#                   .filter(lambda pf: pf[1] >= 100)

pair_freqs = pairs.groupBy('adj', 'noun').count().filter('count >= 100').orderBy('count', ascending=False)
pair_freqs.show()

+---------+----------+-----+
|      adj|      noun|count|
+---------+----------+-----+
| external|      link| 8136|
|     19th|   century| 2869|
|     20th|   century| 2816|
|     same|      time| 2744|
|    first|      time| 2632|
|    civil|       war| 2236|
|    large|    number| 2094|
|    other|      hand| 2043|
|political|     party| 1899|
|    other|   country| 1857|
|   recent|      year| 1808|
|     many|    people| 1743|
|    early|   century| 1568|
|     next|      year| 1557|
|    total|population| 1463|
|     same|      year| 1416|
|     many|      year| 1407|
|    prime|  minister| 1299|
|   ethnic|     group| 1280|
|     late|   century| 1270|
+---------+----------+-----+
only showing top 20 rows

In [59]:
# Computing the frequencies of the adjectives and the nouns
# a_freqs = pairs.map(lambda p: (p[0],1)).reduceByKey(lambda x,y: x+y)
# n_freqs = pairs.map(lambda p: (p[1],1)).reduceByKey(lambda x,y: x+y)

a_freqs =  pairs.groupBy('adj').count().withColumnRenamed('count', 'adjcount')
n_freqs =  pairs.groupBy('noun').count().withColumnRenamed('count', 'nouncount')

a_freqs.show()

+-------------+--------+
|          adj|adjcount|
+-------------+--------+
|   indigenous|    1753|
|          few|   11663|
|     everyday|     712|
|       online|    1753|
|     cautious|      70|
|     inverted|     155|
|  unequivocal|      34|
|     incoming|     341|
|  11-year-old|      12|
|       lamian|       1|
|        inner|    1491|
|precautionary|      63|
|   electrical|    2261|
|    recognize|     359|
| cattle-based|       1|
|      balding|      10|
|     inertial|     284|
|      lyrical|     177|
|   convergent|     106|
|     elongate|     127|
+-------------+--------+
only showing top 20 rows

In [60]:
d1 = pair_freqs.join(a_freqs, 'adj').join(n_freqs, 'noun') \
          .select('adj', 'noun', 
                  log2(col('count')*N/(col('adjcount')*col('nouncount')))
                  .alias('PMI')) \
          .orderBy(desc('PMI')).show()

+-----------------+------------+------------------+
|              adj|        noun|               PMI|
+-----------------+------------+------------------+
|            magna|       carta|14.410196596376286|
|polish-lithuanian|Commonwealth| 13.07137409960666|
|          nitrous|       oxide| 12.99060582764508|
|       latter-day|      Saints|12.649734254024207|
|        stainless|       steel|12.506597586010825|
|             pave|      runway|12.482339231599479|
|         corporal|  punishment|12.191415428592215|
|          capital|  punishment|12.183256905205052|
|             rush|        yard|  12.1470236944742|
|         globular|     cluster|12.109954005340597|
|         teutonic|      knight|12.074200587806475|
|       refractive|       index|11.828363002104304|
|           spinal|        cord|11.815718560868772|
|        alcoholic|    beverage|11.808523043970219|
|          unpaved|      runway| 11.79695092191404|
|         anglican|   Communion|11.752242121990406|
|          coaxial|       cable|11.684885137122127|
|          angular|    momentum|11.622460251835882|
|          unpaved|          km|11.408626883879302|
|           mobile|    cellular|11.315829787299972|
+-----------------+------------+------------------+
only showing top 20 rows

-------

### Embed SQL queries

You can also run SQL queries over dataframes once you register them as temporary tables within the SparkSession.

In [61]:
csv_file = "data/departuredelays.csv"
# Read and create a temporary view
df = (spark.read.format("csv")
    .option("inferSchema", "true")
    .option("header", "true")
    .load(csv_file))
df.createOrReplaceTempView("us_delay_flights_tbl")

In [62]:
spark.sql("""SELECT distance, origin, destination
    FROM us_delay_flights_tbl WHERE distance > 1000
    ORDER BY distance DESC""").show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [63]:
spark.sql("""SELECT date, delay, origin, destination
    FROM us_delay_flights_tbl
    WHERE delay > 120 AND ORIGIN = 'SFO' AND DESTINATION = 'ORD'
    ORDER by delay DESC""").show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|1031755|  396|   SFO|        ORD|
|1022330|  326|   SFO|        ORD|
|1051205|  320|   SFO|        ORD|
|1190925|  297|   SFO|        ORD|
|2171115|  296|   SFO|        ORD|
|1071040|  279|   SFO|        ORD|
|1051550|  274|   SFO|        ORD|
|3120730|  266|   SFO|        ORD|
|1261104|  258|   SFO|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

In [64]:
spark.sql("""SELECT delay, origin, destination,
    CASE
        WHEN delay > 360 THEN 'Very Long Delays'
        WHEN delay > 120 AND delay < 360 THEN 'Long Delays'
        WHEN delay > 60 AND delay < 120 THEN 'Short Delays'
        WHEN delay > 0 and delay < 60 THEN 'Tolerable Delays'
        WHEN delay = 0 THEN 'No Delays'
        ELSE 'Early'
    END AS Flight_Delays
    FROM us_delay_flights_tbl
    ORDER BY origin, delay DESC""").show(10)

+-----+------+-----------+-------------+
|delay|origin|destination|Flight_Delays|
+-----+------+-----------+-------------+
|  333|   ABE|        ATL|  Long Delays|
|  305|   ABE|        ATL|  Long Delays|
|  275|   ABE|        ATL|  Long Delays|
|  257|   ABE|        ATL|  Long Delays|
|  247|   ABE|        ATL|  Long Delays|
|  247|   ABE|        DTW|  Long Delays|
|  219|   ABE|        ORD|  Long Delays|
|  211|   ABE|        ATL|  Long Delays|
|  197|   ABE|        DTW|  Long Delays|
|  192|   ABE|        ORD|  Long Delays|
+-----+------+-----------+-------------+
only showing top 10 rows

In [65]:
# Can even mix DataFrame API with SQL:
df.where('origin = "HNL"').createOrReplaceTempView('HNLflights')
df2 = spark.sql("""SELECT date, delay, origin, destination
    FROM HNLflights
    WHERE delay > 120 
    ORDER by delay DESC""")
df2.show(10)
df2.explain()

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|3061605| 1004|   HNL|        LAX|
|1311800| 1004|   HNL|        DFW|
|2121625|  932|   HNL|        JFK|
|2102155|  724|   HNL|        SFO|
|2171300|  626|   HNL|        LAX|
|2040725|  622|   HNL|        SFO|
|3020745|  600|   HNL|        LAX|
|2141405|  586|   HNL|        SFO|
|2271255|  521|   HNL|        PHX|
|2281300|  474|   HNL|        LAX|
+-------+-----+------+-----------+
only showing top 10 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [delay#2420 DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(delay#2420 DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [plan_id=2986]
      +- Filter (((isnotnull(origin#2422) AND isnotnull(delay#2420)) AND (origin#2422 = HNL)) AND (delay#2420 > 120))
         +- FileScan csv [date#2419,delay#2420,origin#2422,destination#2423] Batched: false, DataFilters: [isnotnull(origin#2422), isnotnull(delay#2420), (origin#2422 = HNL), (delay#2420 > 120)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/bigbenchung/MyKnowledgeBase/PySpark/data/departuredelays.csv], PartitionFilters: [], PushedFilters: [IsNotNull(origin), IsNotNull(delay), EqualTo(origin,HNL), GreaterThan(delay,120)], ReadSchema: struct<date:int,delay:int,origin:string,destination:string>

In [66]:
# UDF

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

myf = udf(lambda s: s*2 + 1, IntegerType())
df.select('*', myf(df['delay']).alias('newdelay')).show()

+-------+-----+--------+------+-----------+--------+
|   date|delay|distance|origin|destination|newdelay|
+-------+-----+--------+------+-----------+--------+
|1011245|    6|     602|   ABE|        ATL|      13|
|1020600|   -8|     369|   ABE|        DTW|     -15|
|1021245|   -2|     602|   ABE|        ATL|      -3|
|1020605|   -4|     602|   ABE|        ATL|      -7|
|1031245|   -4|     602|   ABE|        ATL|      -7|
|1030605|    0|     602|   ABE|        ATL|       1|
|1041243|   10|     602|   ABE|        ATL|      21|
|1040605|   28|     602|   ABE|        ATL|      57|
|1051245|   88|     602|   ABE|        ATL|     177|
|1050605|    9|     602|   ABE|        ATL|      19|
|1061215|   -6|     602|   ABE|        ATL|     -11|
|1061725|   69|     602|   ABE|        ATL|     139|
|1061230|    0|     369|   ABE|        DTW|       1|
|1060625|   -3|     602|   ABE|        ATL|      -5|
|1070600|    0|     369|   ABE|        DTW|       1|
|1071725|    0|     602|   ABE|        ATL|       1|
|1071230|    0|     369|   ABE|        DTW|       1|
|1070625|    0|     602|   ABE|        ATL|       1|
|1071219|    0|     569|   ABE|        ORD|       1|
|1080600|    0|     369|   ABE|        DTW|       1|
+-------+-----+--------+------+-----------+--------+
only showing top 20 rows

In [67]:
spark.udf.register('myf', lambda s: s*2+1, IntegerType())
spark.sql('SELECT *, myf(Delay) AS newdelay FROM HNLflights').show()

+-------+-----+--------+------+-----------+--------+
|   date|delay|distance|origin|destination|newdelay|
+-------+-----+--------+------+-----------+--------+
|1011800|   39|    3288|   HNL|        DFW|      79|
|1011700|   -1|    3687|   HNL|        ORD|      -1|
|1011950|   -3|    3288|   HNL|        DFW|      -5|
|1011340|   -8|    2221|   HNL|        LAX|     -15|
|1010830|  -13|    2221|   HNL|        LAX|     -25|
|1011615|  -16|    2221|   HNL|        LAX|     -31|
|1012155|    7|    2221|   HNL|        LAX|      15|
|1021800|  319|    3288|   HNL|        DFW|     639|
|1021700|    0|    3687|   HNL|        ORD|       1|
|1021950|    2|    3288|   HNL|        DFW|       5|
|1021340|    3|    2221|   HNL|        LAX|       7|
|1020830|  -14|    2221|   HNL|        LAX|     -27|
|1021615|   19|    2221|   HNL|        LAX|      39|
|1022155|  130|    2221|   HNL|        LAX|     261|
|1031800|   54|    3288|   HNL|        DFW|     109|
|1031700|   11|    3687|   HNL|        ORD|      23|
|1031950|  239|    3288|   HNL|        DFW|     479|
|1031340|   13|    2221|   HNL|        LAX|      27|
|1030830|  -10|    2221|   HNL|        LAX|     -19|
|1031615|    7|    2221|   HNL|        LAX|      15|
+-------+-----+--------+------+-----------+--------+
only showing top 20 rows

### Read data from Parquet files
Parquet is an open source columnar file format that offers many I/O
optimizations (such as compression, which saves storage space and allows for quick
access to data columns).

In [70]:
# Data at https://www.cse.ust.hk/msbd5003/data/sf-airbnb.rar

filePath = 'data/sf-airbnb-clean.parquet/'
airbnbDF = spark.read.parquet(filePath)

airbnbDF.printSchema()

# Our goal is to predict the price per night for a rental property, given our features.
airbnbDF.select("neighbourhood_cleansed", "room_type", "bedrooms", "bathrooms",
"number_of_reviews", "price").show(5)

root
 |-- host_is_superhost: string (nullable = true)
 |-- cancellation_policy: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- host_total_listings_count: double (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: double (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- beds: double (nullable = true)
 |-- bed_type: string (nullable = true)
 |-- minimum_nights: double (nullable = true)
 |-- number_of_reviews: double (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- price: double (nullable = true)
 |-- bedrooms_na: double (nullable = true)
 |-- bathrooms_na: double (nullable = true)
 |-- beds_na: double (nullable = true)
 |-- review_scores_rating_na: double (nullable = true)
 |-- review_scores_accuracy_na: double (nullable = true)
 |-- review_scores_cleanliness_na: double (nullable = true)
 |-- review_scores_checkin_na: double (nullable = true)
 |-- review_scores_communication_na: double (nullable = true)
 |-- review_scores_location_na: double (nullable = true)
 |-- review_scores_value_na: double (nullable = true)

+----------------------+---------------+--------+---------+-----------------+-----+
|neighbourhood_cleansed|      room_type|bedrooms|bathrooms|number_of_reviews|price|
+----------------------+---------------+--------+---------+-----------------+-----+
|      Western Addition|Entire home/apt|     1.0|      1.0|            180.0|170.0|
|        Bernal Heights|Entire home/apt|     2.0|      1.0|            111.0|235.0|
|        Haight Ashbury|   Private room|     1.0|      4.0|             17.0| 65.0|
|        Haight Ashbury|   Private room|     1.0|      4.0|              8.0| 65.0|
|      Western Addition|Entire home/apt|     2.0|      1.5|             27.0|785.0|
+----------------------+---------------+--------+---------+-----------------+-----+
only showing top 5 rows

---
## Flexible Data Model

Sample data file at

https://www.cse.ust.hk/msbd5003/data/products.json

In [71]:
df = spark.read.json('data/products.json')
df.printSchema()

root
 |-- dimensions: struct (nullable = true)
 |    |-- height: double (nullable = true)
 |    |-- length: double (nullable = true)
 |    |-- width: double (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- price: double (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- warehouseLocation: struct (nullable = true)
 |    |-- latitude: double (nullable = true)
 |    |-- longitude: double (nullable = true)

In [72]:
df.show()

+----------------+---+----------------+-----+-----------+-----------------+
|      dimensions| id|            name|price|       tags|warehouseLocation|
+----------------+---+----------------+-----+-----------+-----------------+
|{9.5, 7.0, 12.0}|  2|An ice sculpture| 12.5|[cold, ice]|   {-78.75, 20.4}|
| {1.0, 3.1, 1.0}|  3|    A blue mouse| 25.5|       null|    {54.4, -32.7}|
+----------------+---+----------------+-----+-----------+-----------------+

In [73]:
# Accessing nested fields

df.select(df['dimensions.height']).show()

+------+
|height|
+------+
|   9.5|
|   1.0|
+------+

In [74]:
df.select('dimensions.height').show()

+------+
|height|
+------+
|   9.5|
|   1.0|
+------+

In [75]:
df.select('dimensions.height')\
  .filter("tags[0] = 'cold' AND warehouseLocation.latitude < 0")\
  .show()

+------+
|height|
+------+
|   9.5|
+------+

In [76]:
df.rdd.take(3)

[Row(dimensions=Row(height=9.5, length=7.0, width=12.0), id=2, name='An ice sculpture', price=12.5, tags=['cold', 'ice'], warehouseLocation=Row(latitude=-78.75, longitude=20.4)),
 Row(dimensions=Row(height=1.0, length=3.1, width=1.0), id=3, name='A blue mouse', price=25.5, tags=None, warehouseLocation=Row(latitude=54.4, longitude=-32.7))]

In [77]:
# Functions for arrays
df.select(array_remove(df.tags, 'ice')).show()

+-----------------------+
|array_remove(tags, ice)|
+-----------------------+
|                 [cold]|
|                   null|
+-----------------------+

In [78]:
df.select(size(df.tags)).show()

+----------+
|size(tags)|
+----------+
|         2|
|        -1|
+----------+

In [79]:
df.select(filter(df.tags, lambda x: x > 'd').alias('big tags')).show()

+--------+
|big tags|
+--------+
|   [ice]|
|    null|
+--------+

### Closure in DataFrames

In [80]:
data = [(i, ) for i in range(10)]
df = spark.createDataFrame(data)
df.printSchema()
df.show()

root
 |-- _1: long (nullable = true)

+---+
| _1|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [81]:
# The 'closure' behaviour in RDD doesn't seem to exist for DataFrames

x = 5
df1 = df.filter(df._1 < x)
df1.show()
x = 3
df1.show()

+---+
| _1|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

+---+
| _1|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [82]:
# Because of the Catalyst optimizer !

df1.explain()

== Physical Plan ==
*(1) Filter (isnotnull(_1#2812L) AND (_1#2812L < 5))
+- *(1) Scan ExistingRDD[_1#2812L]

In [83]:
def f(x):
    return x/2 + x*2
z = 5
df1 = df.select(df._1 * 2 + f(z))
df1.explain()
df1.show()

== Physical Plan ==
*(1) Project [(cast((_1#2812L * 2) as double) + 12.5) AS ((_1 * 2) + 12.5)#2829]
+- *(1) Scan ExistingRDD[_1#2812L]


+-----------------+
|((_1 * 2) + 12.5)|
+-----------------+
|             12.5|
|             14.5|
|             16.5|
|             18.5|
|             20.5|
|             22.5|
|             24.5|
|             26.5|
|             28.5|
|             30.5|
+-----------------+

In [84]:
rdd = sc.parallelize(range(10))
x = 5
a = rdd.filter(lambda z: z < x)
print(a.take(10))
x = 3
print(a.take(10))

[0, 1, 2, 3, 4]
[0, 1, 2]

### Monotonicity checking

In [85]:
data = [0, 1, 2, 3, 5, 2, 7, 8, 10]

rdd = sc.parallelize(data)
rdd = rdd.zipWithIndex()

df = spark.createDataFrame(rdd, ['value', 'i'])
df.show()

df1 = df.select(df['value'].alias('ivalue'), (col('i') + 1).alias('nexti'))
df1.show()
df2 = df1.join(df, df1["nexti"] == df["i"])
df2.show()
print(df2.filter("ivalue > value").take(1))

+-----+---+
|value|  i|
+-----+---+
|    0|  0|
|    1|  1|
|    2|  2|
|    3|  3|
|    5|  4|
|    2|  5|
|    7|  6|
|    8|  7|
|   10|  8|
+-----+---+

+------+-----+
|ivalue|nexti|
+------+-----+
|     0|    1|
|     1|    2|
|     2|    3|
|     3|    4|
|     5|    5|
|     2|    6|
|     7|    7|
|     8|    8|
|    10|    9|
+------+-----+

+------+-----+-----+---+
|ivalue|nexti|value|  i|
+------+-----+-----+---+
|     0|    1|    1|  1|
|     1|    2|    2|  2|
|     2|    3|    3|  3|
|     3|    4|    5|  4|
|     5|    5|    2|  5|
|     2|    6|    7|  6|
|     7|    7|    8|  7|
|     8|    8|   10|  8|
+------+-----+-----+---+

[Row(ivalue=5, nexti=5, value=2, i=5)]

# Page Rank Algorithm in DataFrame

In [87]:
from pyspark.sql.functions import *

numOfIterations = 10

lines = spark.read.text("data/pagerank_data.txt")

a = lines.select(split(lines[0],' '))
links = a.select(a[0][0].alias('src'), a[0][1].alias('dst'))
outdegrees = links.groupBy('src').count()
ranks = outdegrees.select('src', lit(1).alias('rank'))

for iteration in range(numOfIterations):
    contribs = links.join(ranks, "src").join(outdegrees, "src").withColumn('rank', col("rank") / col("count"))
    ranks = contribs.groupBy("dst").agg(sum("rank")*0.85+0.15).withColumnRenamed('((sum(rank) * 0.85) + 0.15)', "rank") \
        .withColumnRenamed('dst', "src")

ranks.orderBy(desc('rank')).show()

+---+------------------+
|src|              rank|
+---+------------------+
|  1|1.2981882732854677|
|  3|0.9999999999999998|
|  4|0.9999999999999998|
|  2|0.7018117267145316|
+---+------------------+